{% if records %}
    <!-- listing records -->
    <listing-records
      type="{{ type }}"
      :data="{{ jsonrecords(records) }}"
    >
    </listing-records>
    <!-- end listing records -->

    <!-- listing filter -->
    <listing-filter></listing-filter>
    <!-- end listing filter -->

    <listing-table ></listing-table>

    <nav class="listing__filter">
      {% include '@bolt/_partials/_pager.html.twig' with { 'records': records } %}
    </nav>
{% else %}

    (no content)

{% endif %}