{% if records %}
    <!-- listing records -->
    <listing-records
      type="{{ type }}"
      {# tricky part: https://github.com/whiteoctober/WhiteOctoberPagerfantaBundle/issues/165#issuecomment-462777227 #}
      :data="{{ records | merge([]) | json_encode }}"
    >
    </listing-records>
    <!-- end listing records -->

    <!-- listing filter -->
    <listing-filter></listing-filter>
    <!-- end listing filter -->

    <listing-table ></listing-table>

    <nav class="listing__filter">
      {% include '@bolt/_partials/_pager.html.twig' with { 'records': records } %}
    </nav>
{% else %}

    (no content)

{% endif %}
