{% if records %}
    <!-- listing records -->
    <listing-records
      type="{{ type }}"
      :data="{{ records|json_records }}"
      :labels="{{ { 'actions__view_on_site': 'content_listing.actions.view_on_site'|trans }|json_encode }}"
    >
    </listing-records>
    <!-- end listing records -->

    <!-- listing filter -->
    <listing-filter></listing-filter>
    <!-- end listing filter -->

    <listing-table ></listing-table>

    <nav class="listing__filter">
      {% include '@bolt/_partials/_pager.html.twig' with { 'records': records } %}
    </nav>
{% else %}

    (no content)

{% endif %}
