{%  set labels = {'action.close_alert': 'action.close_alert'|trans } %}


{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="notifications"
             data-type="{{ type }}"
             data-message="{{ message|trans  }}"
             data-closing-label="close"
             data-duration="3000">
        </div>
    {% endfor %}
{% endfor %}
