{%  set labels = {'action.close_alert': 'action.close_alert'|trans } %}

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <!-- Then put toasts within -->
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="6000">
                <div class="bg-toast-{{ type }} toast-header">
                    <strong class="me-auto">{{ 'flash_messages.notification'|trans }}</strong>
                    <small>{{ type|trans }}</small>
                    <button class="ms-2 mb-1 btn-close" aria-label="Close" data-bs-dismiss="toast" type="button">
                    </button>
                </div>
                <div class="toast-body">{{ message|trans|raw }}</div>
            </div>
        {% endfor %}
    {% endfor %}
