<div class="card mb-4">
  <div class="image card-img-top"
        style="background-image: url(https://source.unsplash.com/400x240/?rain,sun,snow,storm,weather,sunny); height: 200px; padding-top: 60px;">
    <center style='text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4); color: #FFF;'>
        <span>Sunny, with occasional clouds</span><br>
        <span style="font-size: 200%;"><i class="fas fa-sun"></i> 18 &deg; C</span><br>
        <span>Den Haag, Netherlands</span>
    </center>
  </div>
  <div class="card-body">
    <a>
      <i class="fa fa-socks"></i>
      This is a random widget
    </a>
  </div>
</div>