//** Fields | Collection

.collection-container {
  .collection-item {
    summary::-webkit-details-marker {
      display: none;
    }

    summary:before {
      content: "►";
      vertical-align: 25%; // middle of line
      margin-right: 0.5rem;
    }

    details[open] summary:before {
      content: "▼";
    }

    summary {
      margin-bottom: 1rem;
    }

    .collection-item-title {
      display: inline-block;
      max-width: 40%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
