//** Fields | Data

.editor--data {
  pre {
    border: 1px solid #ddd;
    padding: 0.5rem;
    color: #888;
    background: rgba(255, 255, 255, 0.4);
    font-size: 0.8rem;
    margin: 0;
  }

  span {
    font-size: 0.8rem;
    color: #666;
  }
}
