//** Fileds | Image

.editor__image {
  position: relative;

  &--dragging {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--foreground);
    width: 100%;
    height: 100%;
    background: transparentize($secondary, 0.15);
    z-index: 1000;
    font-size: 3.5rem;
    border-radius: $border-radius;
  }

  &--upload {
    @include visually-hidden;
    @include visually-hidden-focusable;
  }

  &--preview-image {
    display: block;
    width: 100%;
    height: 150px;
    border-radius: $border-radius;
    background-color: var(--shade-300);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    img {
      width: 100%;
    }
  }

  &--dropzone {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--primary);
    font-weight: bolder;

    i {
      font-size: 3.5rem;
      margin: 2rem 0;
      color: transparentize($primary, 0.7);
    }

    &.dz-drag-hover {
      background: transparentize($secondary, 0.15);
      color: var(--admin-toolbar-text-light);

      i {
        color: var(--admin-toolbar-text-light);
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.filepond--root {
  margin-bottom: 0 !important;
}
