.multiselect__tags {
  & span.empty {
    display: none;
  }

  .multiselect__tag {
    &__drag {
      display: inline-flex;
    }

    border: 1px dashed transparent;

    &.dragover {
      border-color: $bolt-bluegray;
    }

    &.dragging {
      opacity: 0.25;
    }
  }
}
