{% extends 'bolt/base.html.twig' %}

{% block title %}
    Edit » <strong>{{ record.title|default('New') }}</strong>
{% endblock %}

{% block main %}

    {{ dump(record) }}


<form method="post" class="ui form" id="editcontent">


       <!-- fields -->
    {% for field in record.fields %}

        {% set type = field.definition.type %}

        {% include ['bolt/editcontent/fields/' ~ type ~ '.twig', 'bolt/editcontent/fields/generic.twig' ] with { 'field': field}  %}

    {% endfor %}

        <input type="submit" class="ui button primary" value="Save">

</form>


{% endblock %}

{% block aside %}

<div class="ui card">
    <div class="content">
        <div class="header">Meta information</div>
    </div>
    <div class="content">

        <form class="ui form">

            <input type="submit" class="ui button primary" value="Save" form="editcontent">


            {% include 'bolt/editcontent/fields/text.twig' with {
        'label': 'field.id'|trans,
        'name': 'id',
        'value': record.id,
        'attributes': 'readonly form="editcontent"',
    }  %}


    {% include 'bolt/editcontent/fields/text.twig' with {
        'label': 'field.status'|trans,
        'name': 'status',
        'value': record.status,
        'attributes': 'form="editcontent"',
    }  %}


    {#<input type="text" name="author" value="{{ record.author }}">#}



    {% include 'bolt/editcontent/fields/datetime.twig' with {
        'label': 'field.createdAt'|trans,
        'name': 'createdAt',
        'value': record.createdAt,
        'attributes': 'readonly form="editcontent"',
    } %}

    {% include 'bolt/editcontent/fields/datetime.twig' with {
        'label': 'field.modifiedAt'|trans,
        'name': 'modifiedAt',
        'value': record.modifiedAt,
        'attributes': 'readonly form="editcontent"',
    } %}

    {% include 'bolt/editcontent/fields/datetime.twig' with {
        'label': 'field.publishedAt'|trans,
        'name': 'publishedAt',
        'value': record.publishedAt,
        'attributes': 'form="editcontent"',
    } %}

    {% include 'bolt/editcontent/fields/datetime.twig' with {
        'label': 'field.depublishedAt'|trans,
        'name': 'depublishedAt',
        'value': record.depublishedAt,
        'attributes': 'form="editcontent"',
    } %}

        </form>

    </div>
</div>


{% endblock aside %}
