//** Editor | Tab Bar

.editor__tabbar{
  margin-bottom: $spacer * 2;
  border-bottom: solid 2px var(--shade-300);
  .nav-item{
    color: var(--shade);
    position: relative;
    &:after{
      transition: $transition-base;
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--primary);
      transform-origin: center;
      transform: scaleX(0);
      content: '';
    }
    span{
      font-size: 95%;
      transition: $transition-base;
      display: block;
      pointer-events: none;
      letter-spacing: $letter-spacing;
      font-weight: $font-weight-semibold;
    }
    &.active, &.show{
      &:after{
        transform: scaleX(1);
      }
      span{
        transform: translateY(-2px);
        color: var(--primary);
      }
    }
  }
  .nav-link{
    padding: $spacer / 2 $spacer / 1.5;
  }
}