{% extends '@bolt/_base/layout.html.twig' %}
{% import '@bolt/_macro/_macro.html.twig' as macro %}

{% block title %}{{ title|trans }}
    {% if subtitle|default() %}» {{ subtitle|trans }} {% endif %}
{% endblock title %}

{% block main %}

    <h2>{{ title|trans }}</h2>

    <p>Your current version of Bolt does not support this feature. Please contact an administrator.</p>

{% endblock main %}

{% block aside %}

{% endblock %}
