{# Button Macro #}
{% macro button(label, icon, class, type) %}{% spaceless %}

    {% set label = label|default('button')|trans %}
    {% set icon = icon|replace({'fa-': ''})|default('question-circle') %}
    {% set class = class|replace({'btn-': ''})|default('info') %}
    {% set type = type|default('submit') %}

    <button type="{{ type }}" class="btn btn-{{ class }} mb-3">
        <i class="fas fa-{{ icon }} mr-2"></i>
        {{- label -}}
    </button>

{% endspaceless %}{% endmacro %}