#filemanager {
  #files-folders {
    #create-folder {
      .form-group {
        margin-bottom: 0;
      }

      td:first-child {
        display: flex;
        align-items: center;
      }

      #editor {
        flex: 1;
      }
    }

    td {
      vertical-align: middle;
    }

    td:first-child i {
      color: #212529; // Original color for icons inside <a>
    }

    .folder-indent {
      margin-left: 0.5rem;
    }
  }
}
