api_platform:
  enable_entrypoint: false # route redirected manually to /bolt/api
  graphql:
    graphiql:
      enabled: true
  mapping:
    paths: [ '%kernel.project_dir%/src/Entity' ]
  formats:
    json: [ 'application/json' ]
    jsonld: [ 'application/ld+json' ]
    jsonapi: [ 'application/vnd.api+json' ]
    # html:     ['text/html']
  serializer:
    hydra_prefix: true
  defaults:
    normalization_context:
      skip_null_values: false
    pagination:
      client_items_per_page: true
      items_per_page_parameter_name: 'pageSize'

# Disable introspection to prevent schema leakage on production sites
when@prod:
  api_platform:
    graphql:
      introspection: false
