doctrine_migrations:
    migrations_paths:
        # namespace is arbitrary but should be different from App\Migrations
        # as migrations classes should NOT be autoloaded
        'Bolt\DoctrineMigrations': '%kernel.project_dir%/migrations'
