/.editorconfig export-ignore
/.env export-ignore
/.git export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.phpspec.yml export-ignore
/.travis.yml export-ignore
/behat.yml export-ignore
/docker-compose.yml export-ignore
/ecs.php export-ignore
/Makefile export-ignore
/phpstan.neon export-ignore
/phpunit.bootstrap.php export-ignore
/phpunit.xml.dist export-ignore
/run_behat_tests.sh export-ignore
/symfony.lock export-ignore
/bin export-ignore
/config export-ignore
/docker export-ignore
/public export-ignore
/tests export-ignore
/var export-ignore
