composer.phar

### Built Assets and uploads ###
/public/assets/
/public/files/*
!/public/files/.gitkeep
!/public/files/index.html
/public/thumbs/*
!/public/thumbs/.gitkeep
!/public/thumbs/index.html

### NPM and frontend assets building cruft
assets/vendor/
node_modules/
npm-debug.log
yarn-error.log
webpack_stats.json

### Behat / Cypress / Front-end testing files
bin/chromedriver*
bin/selenium-server-standalone*
tests/cypress/evidence

### File-system cruft and temporary files
__*
._*
.*.swp
.swp
*.lock
!symfony.lock
*lock.json
!package-lock.json
.buildpath

### Platfom-specific files
.DS_Store
thumbs.db
Vagrantfile
.vagrant*
.idea
.vscode/*
appveyor.yml

### temp files
/var/cache/*
!/var/cache/.gitkeep
/var/log/*
!/var/log/*.gitkeep
/var/log/e2e-reports/*
!/var/log/e2e-reports/
/var/log/e2e-reports/performance/*
!/var/log/e2e-reports/performance/
!/var/log/e2e-reports/performance/.gitkeep
/var/log/e2e-reports/report/*
!/var/log/e2e-reports/report/
!/var/log/e2e-reports/report/.gitkeep
# line below is ok, do not remove
/var/log/behat-reports/*
!/var/log/behat-reports/
!/var/log/behat-reports/.gitkeep
/var/data/*
!/var/data/.gitkeep
/var/sessions/*
!/var/sessions/.gitkeep

###Local config
/config/packages/local
!/config/packages/local/_import_dev.yaml
/config/routes/local
!/config/routes/local/_import_dev.yaml
.php-version

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

