{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss"
  ],
  "customSyntax": "postcss-scss",
  "ignoreFiles": [
    "assets/scss/vendor/**/*.scss"
  ],
  "plugins": ["stylelint-scss"],
  "rules": {
    "alpha-value-notation": null,
    "color-function-alias-notation": null,
    "color-function-notation": null,
    "custom-property-pattern": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "font-family-name-quotes": null,
    "function-url-quotes": null,
    "import-notation": null,
    "keyframes-name-pattern": null,
    "no-descending-specificity": null,
    "no-invalid-position-at-import-rule": null,
    "number-max-precision": null,
    "property-no-deprecated": null,
    "property-no-vendor-prefix": null,
    "scss/at-extend-no-missing-placeholder": null,
    "scss/comment-no-empty": null,
    "scss/load-no-partial-leading-underscore": null,
    "scss/load-partial-extension": null,
    "scss/no-global-function-names": null,
    "scss/operator-no-unspaced": null,
    "selector-attribute-quotes": null,
    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "selector-not-notation": null,
    "shorthand-property-no-redundant-values": null,
    "unit-no-unknown": null,
    "value-keyword-case": null,
    "value-no-vendor-prefix": null
  }
}
