<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         failOnWarning="true"
         bootstrap="phpunit.bootstrap.php">
    <php>
        <ini name="error_reporting" value="-1" force="true"/>
        <env name="KERNEL_CLASS" value="Bolt\Kernel"/>
        <env name="APP_ENV" value="test" force="true"/>
        <env name="APP_DEBUG" value="1" force="true"/>
        <env name="APP_SECRET" value="5a79a1c866efef9ca1800f971d689f3e"/>
        <env name="SYMFONY_PHPUNIT_VERSION" value="9.6"/>
        <!-- define your env variables for the test env here -->
        <!-- ###+ doctrine/doctrine-bundle ### -->
        <env name="DATABASE_URL" value="sqlite::memory:" force="true"/>
        <!-- ###- doctrine/doctrine-bundle ### -->
        <!-- ###+ nelmio/cors-bundle ### -->
        <env name="CORS_ALLOW_ORIGIN" value="^https?://localhost(:[0-9]+)?$"/>
        <!-- ###- nelmio/cors-bundle ### -->
        <!-- ###+ symfony/mailer ### -->
        <!-- MAILER_DSN=smtp://localhost -->
        <!-- ###- symfony/mailer ### -->
    </php>
    <testsuites>
        <testsuite name="Bolt Test Suite">
            <directory>tests/php/</directory>
        </testsuite>
    </testsuites>
    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>
</phpunit>
