//** Admin | Header

.admin__header{

  &--title{
    font-weight: $font-weight-normal;
    font-size: $h2-font-size;
    i{
      color: var(--primary)
    }
  }
  &--topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 $spacer * 2;
  }
}