//** Admin | Header

.admin__header {
  &--title {
    font-weight: $font-weight-normal;
    font-size: $h1-font-size;
    color: var(--admin-sidebar);
    i {
      color: var(--boltblue);
      font-size: 2.125rem;
      top: -3px;
      position: relative;
    }
  }

  &--topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: $spacer;
    position: relative;
    @include media-breakpoint-up(wd) {
      padding: $spacer*3 $column-gap $spacer;
    }
  }
  &--togglebar {
    padding: $spacer;
    position: relative;
  }
}

.admin-sidebar-toggler {
  position: absolute;
  z-index: 4;
  width: auto;
  top: 1.625rem;
  right: 1rem;
  border: 1px solid var(--primary);
  padding: $spacer*0.4 $spacer;
  color: $white;
  background-color: var(--primary);
  @include media-breakpoint-up(lg) {
    display: none;
  }
  &:hover, &:active, &:focus {
    background-color: var(--background);
  }
}
