//** Admin | Sidebar

.admin__sidebar {
  position: relative;
  z-index: 1000;
  background: var(--admin-sidebar);
  color: var(--admin-sidebar-text);
  height: 100%;
  // box-shadow: 0 0 40px 0 rgba(0,0,0, 0.07);
  &--separator {
    padding: 0 $spacer;
    margin: $spacer / 2 0;
    opacity: 0.5;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    font-size: $small-font-size;
    letter-spacing: $letter-spacing;
  }

  &--menu {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    margin-top: $spacer;
  }

  &--link {
    position: relative;
    width: 100%;
    padding: $spacer / 1.75 $spacer;
    display: block;
    font-weight: $font-weight-semibold;
    letter-spacing: $letter-spacing;
    color: var(--admin-sidebar-text);
    font-size: 95%;

    &:hover {
      @include darken(--admin-sidebar, 0.02);
      color: var(--admin-sidebar-icon);
      text-decoration: none;

      .link--icon {
        transform: scale(1.1);
        opacity: 1;
      }
    }

    &.has-menu {

      &:hover,
      &:focus {
        .link--caret {
          color: var(--admin-sidebar-icon);
          transform: translateX(2px);
          opacity: 1;
        }

        .link--menu {
          visibility: visible;
        }
      }
    }

    .link--icon {
      font-size: 120%;
      transition: $transition-base;
      transform-origin: center;
      color: var(--admin-sidebar-icon);
      font-weight: $font-weight-bold;
      width: 22px;
      opacity: 0.5;
    }

    .link--caret {
      transition: $transition-base;
      color: var(--admin-sidebar-text);
      opacity: 0.4;
      width: 15px;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .link--menu {
      background: var(--admin-sidebar-menu);
      border-radius: 0 $border-radius $border-radius 0;
      position: absolute;
      left: 100%;
      top: 0;
      width: $admin-sidebar-width * 1.5;
      margin: 0;
      padding: 0;
      list-style: none;
      visibility: hidden;

      li {
        &.link--create {
          border-bottom: dashed 1px rgba(0,0,0, 0.1);
          a {
            font-weight: $font-weight-bold;
            letter-spacing: $letter-spacing;
            padding: $spacer;
          }
        }

        a {
          padding: $spacer / 1.75 $spacer;
          color: var(--admin-sidebar-menu-text);
          display: flex;
          align-items: center;
          font-weight: $font-weight-normal;
          letter-spacing: initial;

          &:hover {
            @include darken(--admin-sidebar-menu, 0.2);
            color: var(--admin-sidebar-menu-text);
            text-decoration: none;
          }

          span {
            display: inline-block;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  &--slim {
    width: $admin-sidebar-width;
    background: transparent;
    border: 0;
    text-align: center;
    color: var(--admin-sidebar-icon);
    font-size: $font-size-lg;
    position: fixed;
    left: 0;
    bottom: 40px;

    &:hover,
    &:focus {
      outline: none;
      cursor: pointer;
    }
  }

  &--footer {
    -webkit-backface-visibility: hidden;
    @include darken(--admin-sidebar, 0.02);
    color: var(--admin-sidebar-text);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    width: $admin-sidebar-width;
    padding: 0 $spacer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $font-weight-bold;

    font-size: $small-font-size;
    letter-spacing: $letter-spacing;
    a{
      color: var(--admin-sidebar-text);
      opacity: 0.75;
      &:hover{
        color: inherit;
      }
    }
  }
}

.admin {
  &.is-slim {
    .admin__sidebar {

      .admin__sidebar--separator,
      .admin__sidebar--footer {
        display: none;
      }

      .admin__sidebar--link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spacer / 1.25 $spacer / 2;

        .link--icon {
          font-size: 130%;
          margin: 0;
          width: auto;
        }

        .link--text {
          display: none;
        }
      }

      .admin__sidebar--slim {
        width: $admin-sidebar-width / 3;
        bottom: $spacer / 2;
      }
    }
  }
}
