//** Admin | Sidebar

.admin__sidebar {
  position: relative;
  z-index: 1000;
  background: $white;
  height: 100%;
  box-shadow: 0 0 40px 0 transparentize(theme-color('secondary'), 0.9);
  padding-top: $spacer;
  &--separator {
    padding: 0 $spacer;
    margin: $spacer / 2 0;
    color: $gray-600;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    font-size: $small-font-size;
    letter-spacing: $letter-spacing;
  }

  &--menu {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
  }

  &--link {
    position: relative;
    width: 100%;
    padding: $spacer / 1.5 $spacer;
    display: block;
    color: $gray-600;
    font-weight: $font-weight-semibold;
    letter-spacing: $letter-spacing;
    font-size: 95%;

    &:hover {
      background: darken($white, 2%);
      text-decoration: none;

      .link--icon {
        transform: scale(1.2);
      }
    }

    &.has-menu {

      &:hover,
      &:focus {
        .link--caret {
          color: theme-color('primary');
          transform: translateX(2px);
        }

        .link--menu {
          visibility: visible;
        }
      }
    }

    .link--icon {
      transition: $transition-base;
      transform-origin: center;
      color: theme-color('primary');
      width: 20px;
    }

    .link--caret {
      transition: $transition-base;
      color: $gray-400;
      width: 15px;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .link--menu {
      background: theme-color('secondary');
      border-radius: 0 $border-radius $border-radius 0;
      position: absolute;
      left: 100%;
      top: 0;
      width: $admin-sidebar-width * 1.5;
      margin: 0;
      padding: 0;
      list-style: none;
      visibility: hidden;

      li {
        &.link--create {
          border-bottom: dashed 1px darken(theme-color('secondary'), 10%);

          a {
            font-weight: $font-weight-bold;
            letter-spacing: $letter-spacing;
            padding: $spacer;
          }
        }

        a {
          padding: $spacer / 2 $spacer;
          color: $white;
          display: flex;
          align-items: center;
          font-weight: $font-weight-normal;
          letter-spacing: initial;

          &:hover {
            background: darken(theme-color('secondary'), 10%);
            text-decoration: none;
          }

          span {
            display: inline-block;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  &--slim {
    width: $admin-sidebar-width;
    background: transparent;
    border: 0;
    text-align: center;
    color: theme-color('primary');
    font-size: $font-size-lg;
    position: fixed;
    left: 0;
    bottom: 40px;

    &:hover,
    &:focus {
      outline: none;
      cursor: pointer;
    }
  }

  &--footer {
    -webkit-backface-visibility: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    width: $admin-sidebar-width;
    padding: 0 $spacer;
    background: darken($white, 2%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: theme-color('secondary');
    font-weight: $font-weight-bold;
    font-size: $small-font-size;
    letter-spacing: $letter-spacing;

    a {
      font-weight: $font-weight-normal;
    }
  }
}


.admin {
  &.is-slim {
    .admin__sidebar {

      .admin__sidebar--separator,
      .admin__sidebar--footer {
        display: none;
      }

      .admin__sidebar--link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spacer $spacer / 2;

        .link--icon {
          font-size: 110%;
          margin: 0;
          width: auto;
        }

        .link--text {
          display: none;
        }
      }

      .admin__sidebar--slim {
        width: $admin-sidebar-width / 3;
      }
    }
  }
}
