//** Admin | Toolbar

.admin__toolbar {
  background: var(--admin-toolbar);

  &--body {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0;
    @include media-breakpoint-up(lg) {
      padding-right: 1rem;
    }

    &.is-dark {
      color: var(--admin-toolbar-text-light);

      a {
        color: var(--admin-toolbar-text-light);
      }

      .toolbar-item__brand svg g {
        fill: var(--admin-toolbar-text-light);
      }
    }

    &.is-light {
      color: var(--admin-toolbar-text-dark);

      a {
        color: var(--admin-toolbar-text-dark);
      }

      .toolbar-item__brand svg g {
        fill: var(--admin-toolbar-text-dark);
      }
    }
  }

  .toolbar-item {
    position: relative;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacer*0.8125 $spacer;
    font-size: 0.875rem;

    a:hover {
      text-decoration: none;
    }

    &__brand {
      
      padding: $spacer*0.8125;
      .is-slim & {
        padding: $spacer*0.8125 $spacer*1.125;
      }
      svg {
        height: $admin-toolbar-height / 1.5;
        width: auto;
      }
    }

    &__profile {
      margin-left: auto;
    }

    &__new {
      display: none;
      @media screen and (min-width: 440px) {
        display: flex;
      }
    }

    &:hover {
      opacity: 1;

      @include darken(--admin-toolbar, 0.2);

      > .toolbar-menu {
        visibility: visible;
        height: auto;
      }
    }
  }

  .toolbar-menu {
    background: var(--admin-sidebar-menu);
    border-radius: 0 $border-radius $border-radius 0;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--shade);

    font-weight: $font-weight-normal;
    font-size: 100%;
    visibility: hidden;
    height: 0;
    list-style: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: $admin-sidebar-width;
    margin: 0;
    padding: 0;

    li {
      a {
        padding: $spacer / 2;
        display: block;
        color: var(--shade);

        &:hover {
          @include darken(--admin-sidebar, 0.02);
          color: var(--admin-sidebar-icon);
          text-decoration: none;
        }
      }
    }
  }
  .toolbar-item__profile {
    .toolbar-menu {
      left: auto;
      right: 0;
    }
  }
}
