{% extends '@bolt/_base/layout.html.twig' %}
{% import '@bolt/_macro/_macro.html.twig' as macro %}

{% set menu = [] %}
{% for item in admin_menu_array() %}
    {% if item.slug == slug %}
        {% set menu = item %}
    {% endif %}
{% endfor %}

{# The 'title' and 'shoulder' blocks are the main heading of the page. #}
{% block shoulder %}
    {{ 'caption.redirection_page'|trans }}
{% endblock shoulder %}

{% block title %}
    {{ macro.icon('map-signs') }}
    {{ menu.name }}
{% endblock title %}

{% block main %}

    <div class="menupage">
        <ul>
        {% for sub in menu.submenu %}
            <li>
                {{ macro.buttonlink(sub.name, sub.editLink, sub.icon, 'light menupage__button', [],false) }}
            </li>
        {% endfor %}
        </ul>
    </div>

{% endblock main %}

{% block aside %}
    &nbsp;
{% endblock %}
