//** Base | Badge

.badge{
  &.is-primary{
    background: var(--primary);
    color: var(--foreground);
    padding: 0 $spacer / 4;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: $font-weight-bold;
    border-radius: $border-radius;
  }
}