.badge-tertiary {
  color: color-contrast($background, $color-contrast-dark: $color-contrast-dark, $color-contrast-light: $color-contrast-light, $min-contrast-ratio: $min-contrast-ratio);
  background-color: $tertiary;

  @at-root a#{&} {
    &:hover,
    &:focus {
      color: color-contrast($background, $color-contrast-dark: $color-contrast-dark, $color-contrast-light: $color-contrast-light, $min-contrast-ratio: $min-contrast-ratio);
      background-color: darken($tertiary, 10%);
    }

    &:focus,
    &.focus {
      outline: 0;
      box-shadow: 0 0 0 $input-btn-focus-width rgba($tertiary, 0.5);
    }
  }
}

.badge {
  font-weight: normal;
  vertical-align: middle;
  margin-top: -0.4em;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.badge.selected {
  font-weight: bold;
}

.badge.inline {
  margin-top: inherit;
  padding: 0.3rem;
  margin-right: 0.4rem;

  i {
    margin-right: 0;
  }
}
