
// Hidden warning button- acts like tertiary, hover is like danger.
// Uses 'button-variant' mixin from core bootstrap with fixed colors.

.btn-hidden-danger {
  @include button-variant($tertiary, $tertiary, $white, darken($danger, 7.5%), darken($danger, 10%), $white, darken($danger, 10%), darken($danger, 12.5%));
}

.btn-light-danger {
  @include button-variant($light, $light, $gray-900, darken($danger, 7.5%), darken($danger, 10%), $white);
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }

  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

//set disabled buttons to grey

.btn {
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;

    @include box-shadow(none);

    background: $disabled;
    color: darken($disabled, 30%);
    border: $btn-border-width solid transparent;
  }
}

.btn-link {
  &:disabled,
  &.disabled {
    color: darken($disabled, 30%);
    background: transparent;
  }
}
