.modal {
  .form-check-input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    margin-top: 0;
    left: 1.5em;
    border-color: transparent;
    border-radius: 0;

    &:hover {
      cursor: pointer;
    }

    &:checked {
      border: 2px solid rgba(24, 99, 175, 0.3);
      background-color: rgba(24, 99, 175, 0.3);
      background-position-y: -22px;
      background-repeat: no-repeat;
      background-position-x: center;
    }
  }

  .form-check-label {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#resourcesModal {
  .card {
    img,
    a.directory {
      aspect-ratio: 5/3;
    }
  }
}
