// Base | Notifications

// This positions Bootstrap's notifications in the bottom right corner.
.admin__notifications {
  display: block;
  -webkit-backface-visibility: hidden;
  z-index: 2000;
  position: fixed;
  bottom: $spacer * 3;
  right: $spacer * 2;
}
