//** Base | Notification
.admin__notifications {
  display: block;
  -webkit-backface-visibility: hidden;
  z-index: 2000;
  position: fixed;
  bottom: $spacer * 2;
  right: $spacer * 2;
}
.admin__notification-message {
  display: flex !important;
  align-items: center;
}
.notification {
  position: relative;
  background: var(--body);
  padding: $spacer $spacer;
  margin-bottom: $spacer * .5;
  border-radius: $border-radius;
  box-shadow: $card-box-shadow;
  color: var(--foreground);
  font-weight: $font-weight-bold;

  & .notification__message {
    float: left !important;;
  }

  &[data-type='is-success'] {
    .notification__close {
      color: var(--success);
    }
  }
  &[data-type='is-danger'] {
    .notification__close {
      color: var(--danger);
    }
  }

  p {
    margin: 0;
    flex: auto;
  }

  &__close {
    float: right !important;
    background: transparent;
    border: 0;
    position: relative;
    color: var(--foreground);
    font-weight: $font-weight-bold;
    right: -$spacer / 2;
    letter-spacing: $letter-spacing;
    text-transform: capitalize;
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.notification-enter-active, .notification-leave-active {
  transition: all .35s;
}

.notification-enter, .notification-leave-to {
  opacity: 0;
  transform: translateY(40px);
}