//** Base | Pagination

.pagination{
  nav{
    display: flex;
    span, a{
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--shade);
      border-radius: $border-radius;
      box-shadow: $card-box-shadow;
      padding: $spacer / 2;
      margin-right: $spacer / 3;
      min-width: 25px;
      letter-spacing: $letter-spacing;
      &.disabled{
        color: var(--shade-400);
        &:hover{
          background: var(--shade);
        }
      }
      &.current{
        color: var(--shade);
        background: var(--primary);
        font-weight: $font-weight-bold;
        &:hover{
          background: var(--primary);
        }
      }
      &:hover{
        text-decoration: none;
        @include darken(--shade, 0.02);
      }
    }
  }
}