//** Base | Status

.status{
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: var(--shade);
  display: inline-flex;
  &.is-published{
    background: var(--status-published)
  }
  &.is-held{
    background: var(--status-held)
  }
  &.is-draft{
    background: var(--status-draft)
  }
  &.is-timed{
    background: var(--status-timed)
  }
}