//** Base | Status

.status {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: var(--shade);
  display: inline-flex;

  &.is-published {
    background: var(--status-published);
  }

  &.is-held {
    background: var(--status-held);
  }

  &.is-draft {
    background: var(--status-draft);
  }

  &.is-timed {
    background: var(--status-timed);
  }
}

.badge {
  color: #fff !important;

  &.is-published {
    background: var(--status-published);
  }

  &.is-held {
    background: var(--status-held);
  }

  &.is-draft {
    background: var(--status-draft);
  }

  &.is-timed {
    background: var(--status-timed);
  }
}

.badge-homepage, .badge-404, .badge-maintenance {
  font-weight: normal;
  vertical-align: middle;
  margin-top: -0.4em;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.badge-homepage {
  background: $secondary;
}

.badge-404 {
  background: $warning;
}

.badge-maintenance {
  background: $tertiary;
}