
.listing--checkbox {
  width: $checkbox-row-width;
  user-select: none;
  margin-bottom: 2px;

  .custom-control {
    position: relative;
    height: 100%;
    padding: 0;
    border: 1px solid var(--foreground);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: var(--foreground);

    @include media-breakpoint-up(md) {
      // border: 1px solid var(--shade-light);
      // border-right: 1px solid var(--shade-light);
    }

    .custom-control-label {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      &::before,
      &::after {
        left: $spacer*0.45;
        top: $spacer*0.6;
      }
    }
  }
}
