.listing--container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  z-index: $big-z-index;

  // We raise the z-index by 1, to make sure the "Edit" dropdown is on top
  &:hover {
    z-index: $big-z-index + 1;
  }

  &.sortable-ghost {
    opacity: 0.1;
  }

  &.is-dashboard {
    .listing__row{
      width: 100%;
    }
  }

  .listing__row {
    width: calc(100% - #{$checkbox-row-width});
  }
}
