.listing__records {
  margin-bottom: 1.5*$spacer;
}

.listing--container {
  position: relative;
  display: flex;
  width: 100%;

  &.sortable-ghost {
    opacity: 0.1;
  }

  &.is-dashboard {
    .listing__row {
      width: 100%;
    }
  }

  .listing__row {
    width: calc(100% - #{$checkbox-row-width});
  }
}
