//** Listing | Row

$checkbox-row-width: 30px;

.listing__row{
  box-shadow: $card-box-shadow;
  background: var(--foreground);
  border-radius: $border-radius;
  margin-bottom: $spacer / 1.25;
  min-height: 50px;
  z-index: 100;
  display: flex;
  flex: auto;
  justify-content: space-between;
  position: relative;
  &.is-small{
    .listing__row--item{
      display: flex;
      align-items: center;
      &.is-details{
        max-width: 40%;
        strong{
          white-space: nowrap; 
          overflow: hidden;
          text-overflow: ellipsis;
        }
        span{
          display: none;
        }
      }
      &.is-meta{
        flex: 0 0 24%;
        margin-left: auto;
      }
      &.is-actions{
        flex: 0 0 auto;
      }
    }
    .listing--actions{
      display: flex;
      flex-direction: row-reverse;
      height: 100%;
      li{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: inherit;
        margin-right: $spacer;
        margin-bottom: 0;
        &:first-child{
          margin-right: 0;
        }
      }
    }
  }
  &--item{
    min-height: inherit;
    padding: $spacer / 2 $spacer;
    &.is-thumbnail{
      flex: 0 0 100px;
      max-width: 100px;
      border-radius: $border-radius 0 0 $border-radius;
      background-color: var(--shade-400);
      background-repeat: no-repeat;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &.is-details{
      flex-grow: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-height: 1.3rem;
      max-height: 4.5rem;

      a {
        font-weight: bold;
      }

      span{
        color: var(--shade);
        font-style: italic;
      }
    }
    &.is-meta{
      flex: 0 0 25%;
      margin-left: auto;
    }
    &.is-actions{
      flex: 0 0 15%;
      background: var(--shade-100);
      display: flex;
      align-items: center;
      border-radius: 0 $border-radius $border-radius 0;
    }
  }
  &--list{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 90%;
    letter-spacing: $letter-spacing;
    li{
      display: flex;
      align-items: center;
      margin-bottom: $spacer / 4;
      color: var(--shade);
      text-transform: capitalize;
    }
    i{
      color: theme-color('secondary');
    }
  }
  &--move{
    flex: 0 0 15px;
    padding: 0;
    color: var(--secondary);
    border: 0;
    &:focus, &:hover{
      outline: none;
      cursor: move;
    }
  }
  .listing--actions{
    font-size: 90%;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: right;
    li{
      margin-bottom: $spacer;
      &:last-child{
        margin-bottom: 0;
      }
      a{
        color: var(--secondary);
      }
    }
    &--quickedit{
      background: transparent;
      border: 0;
      color: var(--primary);
      padding: 0;
      &:hover{
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.card-enter-active, .card-leave-active { 
  transition: all 0.25s;
}

.card-enter, .card-leave-to{
  opacity: 0;
  transform: translateX(30px);
  transform-origin: right;
}


@import '_container';
@import '_checkbox';
@import '_quick-edit';

