{% for group in groups|filter(group => group != 'Relations') %}

    <div class="tab-pane {% if loop.first %}show active{% endif %}" id="{{ group|slug }}" role="tabpanel"
         aria-labelledby="{{ group|slug }}-tab">
        {% for key, fielddefinition in record.definition.fields|filter(fielddefinition => fielddefinition.group == group) %}
            {% if record.hasField(key) %}
                {% set field = record.getField(key) %}
                {% if field.isTranslatable %}
                    {# If the field is translatable, we want the translated value in the current locale #}
                    {% set field = field|translate(currentlocale) %}
                {% else %}
                    {# Otherwise, we want the value in the default locale, explicitly in case it is something else #}
                    {% set field = field|translate(field.defaultLocale) %}
                {% endif %}
            {% else %}
                {% set field = field_factory(key, fielddefinition) %}
            {% endif %}

            {% if not field.definition.hidden %}
                {# Three-step include: first try a 'built-in' fieldtype, then a field added by
                an Extension, and fall back to 'generic' field type #}
                {% include [
                    fielddefinition.template|default(''),
                    '@bolt/_partials/fields/' ~ fielddefinition.type ~ '.html.twig',
                    '@' ~ fielddefinition.type ~ '/' ~ fielddefinition.type ~ '.html.twig',
                    '@bolt/_partials/fields/generic.html.twig'
                    ] with { 'field' : field } %}
            {% endif %}

        {% endfor %}
    </div>
{% endfor %}
