{% for group in groups|filter(group => group != 'Relations') %}

    <div class="tab-pane {% if loop.first %}show active{% endif %}" id="{{ group|slug }}" role="tabpanel"
         aria-labelledby="{{ group|slug }}-tab">
        {% for key, fielddefinition in record.definition.fields|filter(fielddefinition => fielddefinition.group == group) %}
            {% if record.hasField(key) %}
                {% set field = record.getField(key)|translated(currentlocale) %}
            {% else %}
                {% set field = field_factory(key, fielddefinition) %}
            {% endif %}

            {% include [
                '@bolt/_partials/fields/' ~ fielddefinition.type ~ '.html.twig',
                '@bolt/_partials/fields/generic.html.twig'
                ] with { 'field' : field } %}

        {% endfor %}
    </div>
{% endfor %}
