<div class="form-fieldsgroup form-fieldsgroup__editable-fields">

    {% set disableStatusChanges = not is_granted('change-status', record) %}
    {% include '@bolt/_partials/fields/select.html.twig' with {
        'label' : 'field.status'|trans,
        'name' : 'status',
        'value' : [record.status],
        'options' : record|status_options,
        'form' : 'editcontent',
        'required' : true,
        'readonly' : disableStatusChanges
    } %}

    {% include '@bolt/_partials/fields/date.html.twig' with {
        'label' : 'field.publishedAt'|trans,
        'name' : 'publishedAt',
        'value' : record.publishedAt,
        'mode' : 'datetime',
        'form' : 'editcontent',
        'readonly' : disableStatusChanges
    } %}

    {% include '@bolt/_partials/fields/date.html.twig' with {
        'label' : 'field.depublishedAt'|trans,
        'name' : 'depublishedAt',
        'value' : record.depublishedAt,
        'mode' : 'datetime',
        'form' : 'editcontent',
        'readonly' : disableStatusChanges
    } %}

    {% include '@bolt/_partials/fields/text.html.twig' with {
        'label' : 'field.author'|trans,
        'name' : 'author',
        'value' : record.author.displayName|default('undefined'),
        'disabled' : true
    } %}

</div>
