    {% for group in groups if group != 'Relations' %}
    <div class="tab-pane {% if loop.first %}show active{% endif %}" id="{{group|slug}}" role="tabpanel" aria-labelledby="{{group|slug}}-tab">
        {% for key, fielddefinition in record.definition.fields if fielddefinition.group == group %}

        {% set type = fielddefinition.type %}
        {% set field = record.localizedfield(key, currentlocale, false, fielddefinition) %}

        {% include[
        '_partials/fields/' ~ type ~ '.html.twig',
        '_partials/fields/generic.html.twig'
        ] with {
        'field' : field,
        'define' : fielddefinition
        } %}

        {% endfor %}
    </div>
    {% endfor %}
