{% extends '@bolt/_base/layout.twig' %}

{% block title %}
    {% if contenttype %}
        {{ 'title.contentlisting'|trans }} » <b>{{ contenttype.name }}</b>
    {% else %}
        <b>{{ 'title.contentlisting'|trans }}</b>
    {% endif %}
{% endblock %}

{% block body_id 'user_edit' %}

{% block main %}
    <div id="listing">
        {% include '@bolt/_partials/_content_listing.twig' with {'records': records } %}
    </div>
{% endblock %}

{% block aside %}

    <div class="card">
        <div class="card-header">
            Contentlisting
        </div>
        <div class="card-body">
            (filtering options go here)
        </div>
    </div>

{% endblock %}