{% extends '_base/layout.twig' %}

{% block title %}
    {% if contenttype %}
        {{ 'title.contentlisting'|trans }} » <b>{{ contenttype.name }}</b>
    {% else %}
        <b>{{ 'title.contentlisting'|trans }}</b>
    {% endif %}
{% endblock %}

{% block body_id 'user_edit' %}

{% block main %}

    {% include '_partials/_content_listing.twig' with {'records': records } %}

{% endblock %}

{% block aside %}

    <div class="ui card">
        <div class="content">
            <div class="header">Contentlisting</div>
        </div>
        <div class="content">
            (filtering options go here)
        </div>
    </div>

{% endblock %}