{% extends '@bolt/_base/layout.html.twig' %}

{% block title %} {{ 'caption.clear_cache'|trans }} {% endblock title %}

{% block main %}

    <div class="row">
        <div class="col-md-9">
        </div>
    </div>

{% endblock main %}