{% extends '@bolt/_base/layout.html.twig' %}

{% block title %} {{ 'caption.clear_cache'|trans }} {% endblock title %}

{% block main %}

    <div class="row">
        <div class="col-md-9">
            <a href="{{ path('bolt_clear_cache') }}" class="btn btn-primary">{{ 'caption.clear_cache'|trans }}</a>
        </div>
    </div>

{% endblock main %}