
{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="ui {{ type }} message">
            <p>{{ message|trans }}</p>
        </div>
    {% endfor %}
{% endfor %}
