<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title"><i class="far fa-newspaper"></i> &nbsp; {{ __('general.latest_bolt_news') }}</h5>
        <p><strong>{{ title|raw }}</strong></p>
            {{ news|raw }}
    </div>
</div>