
<tr id="create-folder">
    <td>
        <i class="fas fa-folder-plus me-2"></i>
        <div id="editor"> {# #editor and #editcontent allow Vue here #}
            <form method="post" id="editcontent" action="{{ path('bolt_filemanager_create') }}">
                {% embed '@bolt/_partials/fields/text.html.twig' with {
                    'id' : 'folder_name',
                    'label' : 'action.new'|trans,
                    'name' : 'folderName',
                    'disabled' : false,
                    'required': true,
                    'placeholder': 'folder.create_new'|trans
                } %}
                    {% block label %}{% endblock %}
                {% endembed %}
                <input type="hidden" name="path" value="{{ path }}">
                <input type="hidden" name="location" value="{{ location.key }}">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('filemanager-create') }}">
            </form>
        </div>

    </td>
    <td>
        <button type="submit" form="editcontent" class="btn btn-secondary btn-sm">
            <i class="fas fa-folder-plus me-2"></i>
            Create
        </button>
    </td>
</tr>
