{% if allfiles %}

<div class="row">
    <div class="col-10">
        <div class="selectize-control selectize form-control single">
            <select name="quickselect" id="quickselect" placeholder="{{ 'form.quick_select_file'|trans }}">
            </select>
        </div>

    </div>
    <div class="col-2">
        <button class="btn btn-secondary">{{ 'action.go'|trans }}</button>
    </div>
</div>

{% endif %}