{% if allfiles %}

<div class="row">
    <div class="col-2">
        <label>Quick select:</label>
    </div>
    <div class="col-8">
        <select name="quickselect" id="quickselect">
            <option>Quick select a file</option>

            {% for file in allfiles %}
            <option value="{{ file.filename }}">
                {{ file.filename }} - {{ file.description }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-2">
        <button class="btn btn-secondary">Go</button>
    </div>
</div>

{% endif %}