{% extends '@bolt/_base/layout.twig' %}

{% block title %}
    Finder » <strong>{{ name }}</strong>
{% endblock %}

{% block main %}

    <h2>Path: {{ area }}{{ path }}</h2>

    {% include '@bolt/finder/_quickselect.twig' %}

    {% include '@bolt/finder/_folders.twig' %}

    {% include '@bolt/finder/_files.twig' %}

{% endblock %}

{% block aside %}

<div class="ui card">
    <div class="content">
        <div class="header">Meta information</div>
    </div>
    <div class="content">

    </div>
</div>


{% endblock aside %}
