//** User

@import '_theme';

.toggle-password {
  cursor: pointer;
  margin-right: 0;
  width: 3em;
  padding: 0;
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
