.imageholder {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;

    img {
        max-width: 100%;
        display: block;
        margin: auto;
        border-radius: 4px;
    }
}

.selectize-input > * {
    font-size: 1rem;
    line-height: 1.5rem;
}
