html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    line-height: 1.5;
    height: 100%;
    margin: 0;
    padding: 0;

    @media only screen and (min-width: 1025px) {
        font-size: 14px;
    }

    @media only screen and (min-width: 1281px) {
        font-size: 15px;
    }
}

body {
    background: #F8F8F8;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', serif;
    font-weight: normal;
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}


.wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
        "topbar"
        "sidebar"
        "content"
        "sidebar2"
        "footer"
}

@media only screen and (min-width: 600px)   {
    .wrapper {
        grid-template-columns: 12.6rem auto 21rem;
        grid-template-rows: 3.6rem auto 2rem;
        grid-template-areas:
            "sidebar  topbar      topbar"
            "sidebar  content     aside"
            "sidebar  footer      footer";
    }

    .wrapper.has-widecontent {
        grid-template-columns: 12.6rem auto 21rem;
        grid-template-rows: 3.6rem auto 2rem;
        grid-template-areas:
                "sidebar  topbar      topbar"
                "sidebar  content     content"
                "sidebar  footer      footer";
    }
}

#sidebar {
    grid-area: sidebar;
    background-color: $sidebar-background;
    border-right: 1px solid #233;
}

header {
    grid-area: topbar;
    background-color: #FFF;
    border-bottom: 1px solid #DDD;
}

#content, #vuecontent {
    grid-area: content;
    padding: 2rem 3rem;
}

#widecontent {
    grid-area: content;
    padding: 2rem 3rem;
    + aside {
        display: none;
    }
}

footer {
    grid-area: footer;
}

aside {
    grid-area: aside;
    padding: 2rem 2rem 2rem 0;
}

