body {
    background: color('gray');
}

.wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
        "topbar"
        "sidebar"
        "content"
        "sidebar2"
        "footer";
}

@media only screen and (min-width: 600px) {
    .wrapper {
        grid-template-columns: 12.6rem auto 21rem;
        grid-template-rows: 3.6rem auto 2rem;
        grid-template-areas:
            "sidebar  topbar      topbar"
            "sidebar  content     aside"
            "sidebar  footer      footer";
    }

    .wrapper.has-widecontent {
        grid-template-columns: 12.6rem auto 21rem;
        grid-template-rows: 3.6rem auto 2rem;
        grid-template-areas:
            "sidebar  topbar      topbar"
            "sidebar  content     content"
            "sidebar  footer      footer";
    }
}

#sidebar {
    grid-area: sidebar;
    background-color: $sidebar-background;
    border-right: 1px solid #233;
}

header {
    grid-area: topbar;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

#content,
#vuecontent {
    grid-area: content;
    padding: 2rem 3rem;
}

#widecontent {
    grid-area: content;
    padding: 2rem 3rem;
    + aside {
        display: none;
    }
}

footer {
    grid-area: footer;
}

aside {
    grid-area: aside;
    padding: 2rem 2rem 2rem 0;
}
