.clip-overflow {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.5rem;
}

td.listing-excerpt {
    color: #333;
}

td.listing-meta {
    font-size: 0.9rem;
    line-height: 1.5rem;

    span {
        color: #666;
        display: inline-block;
        white-space: nowrap;
    }
}

td.listing-thumb img {
    // Get rid of extra space because of the baseline
    display: block;
    width: 6.25rem;
    height: 4.5rem;
}

td.listing-actions {
    white-space: nowrap;

    .btn-light {
        background-color: #e0e0e0;
        border: 1px solid #d8d8d8;
        color: #444;
    }

    .show > .btn-light.dropdown-toggle {
        background-color: #ccc;
        border: 1px solid #b8b8b8;
        color: #444;
    }
}
