
.ui.basic.table {
    background-color: #FFF !important;

    th {
        background-color: #F8F8F8;
    }
    td {
        padding: 0.7em 0.4em;
    }
}

.ui.form input.large {
    font-size: 140%;
    padding: 11px 16px;
}

input[readonly] {
    background-color: #F2F2F2;
    color: #888;
}

.input-group-append .btn {
    font-weight: normal;
    font-size: 0.9rem;
}

