$boltblue: #1e4a6b;
$primaryboltblue: #0f0;
$sidebar-background: #345;
$sidebar-active: #41647f;

$main-background: #f7f7f7;

// ----------
$status-timed: #a80;
$status-published: #7fa800;
$status-held: #ca2300;
$status-draft: #0569e2;
