{%- if type not in ['checkbox', 'collection'] -%}
    <label for="{{ id }}">

        {%- if localize -%}
          <i class="fas fa-language"></i>
        {%- endif -%}

        {% if in_collection is defined %}
            <span style="font-weight: normal;">{{ collection_label }} &raquo;</span>
        {% endif %}

        {{- label -}}:
    </label>
{%- endif -%}
