{%- if type != 'checkbox' -%}
    <label for="{{ id }}">

        {%- if localize -%}
          <i class="fas fa-language"></i>
        {%- endif -%}

        {{- label -}}

        {%- if type != 'checkbox' -%}
            {{- ':' -}}
        {%- endif -%}

    </label>
{%- endif -%}
