{%- if type != 'checkbox' -%}
    <label for="{{ id }}" {% if type == 'collection' %}class="sr-only"{% endif %}>

        {%- if localize -%}
          <i class="fas fa-language"></i>
        {%- endif -%}

        {% if in_collection is defined %}
            <span style="font-weight: normal;">{{ collection_label }} &raquo;</span>
        {% endif %}

        {{- label -}}:
    </label>
{%- endif -%}
