{% extends '@bolt/_partials/fields/_base.html.twig' %}

{% block field %}
    <div id="user-email">
        <field-email
            :id="'{{ id }}'"
            :name="'{{ name }}'"
            :value="{{ value|json_encode() }}"
        ></field-email>
    </div>
{% endblock %}