{% extends '@bolt/_partials/fields/_base.html.twig' %}

{% block field %}
   <p>This is the set field.</p>
   
   {% for name, singleField in field.value %}
      {% include '@bolt/_partials/fields/' ~ singleField.type ~ '.html.twig' with {'field': singleField} only %}
   {% endfor %}
{% endblock %}
