//** Layout | Admin

$admin-toolbar-height: 30px;
$admin-sidebar-width: 200px;
$admin-header-height: 70px;

// Main Layout Grid

.admin {
  margin-top: $admin-toolbar-height;
  min-height: inherit;

  // Flexbox Fallback
  display: flex;
  flex-wrap: wrap;

  // Grid
  display: grid;

  grid-template-rows:     auto 1fr auto;
  grid-template-columns:  $admin-sidebar-width 1fr;
  grid-template-areas:    "sidebar header"
                          "sidebar body";
  // Slim Sidebar
  &.is-slim {
    grid-template-columns: $admin-sidebar-width / 3 1fr;
    &__sidebar {
      flex: 0 0 $admin-sidebar-width / 3;
    }
  }

  &__toolbar{
    -webkit-backface-visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: $admin-toolbar-height;
    width: 100vw;
    z-index: 1001;
  }

  &__header {
    display: flex;
    grid-area: header;
    position: relative;
    padding: 1.5rem 0 0 0;

    .container {
      padding: 0;
    }
  }

  &__sidebar {
    flex: 0 0 $admin-sidebar-width;
    grid-area: sidebar;
  }

  &__body {
    flex: 1;
    grid-area: body;
    padding-top: 0;
    &.is-wide{
      .admin__body--container{
        grid-template-columns:  auto;
        grid-template-areas:    "main"
                                "aside";
      }
    }
    >.container{
      padding: 0;
    }
    &--container{
      display: grid;
      grid-template-columns:  auto $admin-sidebar-width * 1.25;
      grid-template-areas:    "main    aside";
      padding: $spacer * 2;
    }

    &--main{
      grid-area: main;
      min-width: 0;
      padding-right: $spacer * 2;
    }

    &--aside{
      grid-area: aside;
      width: $admin-sidebar-width * 1.25;
    }
  }
}
