//** Layout | Admin

$admin-toolbar-height: 28px;
$admin-sidebar-width: 200px;

// Main Layout Grid

.admin {
  margin-top: $admin-toolbar-height;
  min-height: inherit;

  // Flexbox Fallback
  display: flex;
  flex-wrap: wrap;

  // Grid
  display: grid;

  grid-template-rows:     auto 1fr auto;
  grid-template-columns:  $admin-sidebar-width 1fr;
  grid-template-areas:    "sidebar header"
                          "sidebar body";
  // Slim Sidebar
  &.is-slim {
    grid-template-columns: $admin-sidebar-width / 3 1fr;
    &__sidebar {
      flex: 0 0 $admin-sidebar-width / 3;
    }
  }

  &__toolbar{
    -webkit-backface-visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: $admin-toolbar-height;
    width: 100vw;
    z-index: 1001;
  }

  &__header {
    display: flex;
    flex-basis: 100%;
    grid-area: header;
    position: relative;
    padding: $spacer $spacer 0 $spacer;
  }

  &__sidebar {
    flex: 0 0 $admin-sidebar-width;
    grid-area: sidebar;
  }

  &__body {
    flex: 1;
    grid-area: body;
    padding: $spacer * 2 $spacer;
    min-height: 100vh;

    >.container{
      display: flex;
    }

    &--main{
      padding-right: $spacer * 2;
      flex: 100%;
    }

    &--aside{
      flex: 0 0 $admin-sidebar-width * 1.25;
    }
  }
}

.container {
  @include media-breakpoint-up(xl) {
    max-width: 1540px;
  }
}