//** Layout | Admin

$admin-header-height: 80px;
$admin-sidebar-width: 180px;

body {
  height: 100%;
  background: color('gray')
}

// Main Layout Grid

.admin {
  
  // Flexbox Fallback
  display: flex;
  flex-wrap: wrap;

  // Grid
  display: grid;
  height: 100vh;

  grid-template-rows:     auto 1fr auto;
  grid-template-columns:  $admin-sidebar-width 1fr;
  grid-template-areas:    "sidebar header"
                          "sidebar body";
  // Slim Sidebar
  &.is-slim {
    grid-template-columns: $admin-sidebar-width / 3 1fr;
    &__sidebar {
      flex: 0 0 $admin-sidebar-width / 3;
    }
  }

  &__header {
    display: flex;
    flex-basis: 100%;
    grid-area: header;
    height: $admin-header-height;
    position: relative;
    padding: 0 $spacer * 2;
  }

  &__sidebar {
    flex: 0 0 $admin-sidebar-width;
    grid-area: sidebar;
    min-height: 100vh;
  }

  &__body {
    flex: 1;
    grid-area: body;
    padding: $spacer * 2;
    >.container{
      display: flex;
    }
    &--main{
      padding-right: $spacer * 3;
      flex: 100%;
    }
    &--aside{
      flex: 0 0 $admin-sidebar-width * 1.25;
    }
  }

}