.page--reset-password,
.page--reset-password--success {
  background: linear-gradient(rgba(200, 200, 200, 0.6), rgba(200, 200, 200, 0.2));

  > div {
    max-width: 25rem;
    margin: 0 auto;
    padding: 2rem 1rem;

    @include media-breakpoint-up(sm) {
      padding-top: 4rem;
    }

    @include media-breakpoint-up(md) {
      padding-top: 5rem;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 7rem;
    }
  }

  .card {
    box-shadow: 0 7.5px 15px -5px rgba(0, 0, 0, 0.4);
  }

  .reset-password__logo {
    padding: 0 2rem;

    img {
      max-width: 100%;
      display: block;
      margin-bottom: 2rem;
    }
  }

  .reset-password__description {
    margin-bottom: 1rem;
  }

  &.with-background {
    // Unsplash's daily picture is usually always pretty, but often too distracting: https://source.unsplash.com/daily
    background: linear-gradient(rgba(128, 128, 128, 0.6), rgba(128, 128, 128, 0.2)), url(https://source.unsplash.com/1920x1080/?abstract);
    background-position: center;
    background-size: cover;
  }
}
