//** Init | Base

html {
  height: 100%;
}

html,
body {
  margin: 0;
  color: var(--body);
  background: var(--background);
}

body {
  min-height: 100%;
  width: 100%;
  position: absolute;
}

label {
  font-weight: $font-weight-bold;
}

strong {
  font-weight: $font-weight-semibold;
}

h2 code {
  font-size: 85%;
  font-weight: normal;
}

code {
  background-color: rgba(0, 0, 0, 0.075);
}

.card {
  box-shadow: $card-box-shadow;
  background: #fff;

  .card-header {
    font-weight: $font-weight-bold;
  }
}

.custom-select {
  -webkit-appearance: none;
}

input[readonly], input:disabled, button:disabled, input.flatpickr-input[disabled] {
  cursor: not-allowed;
  background-color: $input-disabled-bg;
  color: $input-disabled-color;
}