//** Init | Base

html {
  height: 100%;
}

html,
body {
  margin: 0;
  color: var(--body);
  background: var(--background);
}

body {
  min-height: 100%;
  width: 100%;
  position: absolute;
}

label {
  font-weight: $font-weight-bold;
}

strong {
  font-weight: $font-weight-semibold;
}

h1 code,
h2 code {
  font-size: 85%;
  font-weight: normal;
}

code {
  background-color: rgba(0, 0, 0, 0.075);
}

small {
  color: var(--body-dimmed);
}

.card {
  box-shadow: $card-box-shadow;
  background: #fff;
  border: 1px solid $card-border-color !important;

  .card-header {
    font-weight: $font-weight-bold;
    padding: 0.8125rem 1.25rem;
  }

  .card-body {
    padding: $spacer $spacer*1.5;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  a:not(.btn):not(.dropdown-item) {
    text-decoration: underline;
  }
}

.custom-select {
  -webkit-appearance: none;
}

input[readonly],
input[data-readonly],
input:disabled,
button:disabled,
input.flatpickr-input[disabled] {
  cursor: not-allowed;
  background-color: $input-disabled-bg;
  color: $input-disabled-color;
  pointer-events: none;
}

input::placeholder {
  font-style: italic;
}
