//** Init | Base

html, body {
  margin: 0;
  height: 100%;
}

body {
  color: var(--body);
  background: var(--background);
  min-height: 100%;
}

label{
  font-weight:                  $font-weight-bold;
}

strong {
  font-weight:                  $font-weight-semibold;
}

.card{
  box-shadow: $card-box-shadow;
  background: #FFF;
  .card-header{
    font-weight: $font-weight-bold;
  }
}

.custom-select{
  -webkit-appearance: none;
}

