html, body {
    font-family: 'Source Sans Pro', serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    background: #F8F8F8;
    margin: 0;
  }

.wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
        "topbar"
        "sidebar"
        "content"
        "sidebar2"
        "footer"
}

@media only screen and (min-width: 600px)   {
    .wrapper {
        grid-template-columns: 201px auto 340px;
        grid-template-rows: 61px auto 30px;
        grid-template-areas:
            "sidebar  topbar  topbar"
            "sidebar content aside"
            "sidebar  footer  footer";
    }
}

#sidebar {
    grid-area: sidebar;
    background-color: #EEE;
    border-right: 2px solid #DDD;

}

#topbar {
    grid-area: topbar;
    background-color: #FFF;
    border-bottom: 1px solid #DDD;
}

#content, #vuecontent {
    grid-area: content;
    padding: 1em;
}

#footer {
    grid-area: footer;
}

#aside {
    grid-area: aside;
    padding: 1em;
}
