<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>500 :: Internal Server Error</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
</head>

<body id="home">

    <div style="padding: 2rem 4rem;">

        <h1>500 :: Internal Server Error</h1>

        <h2>The server returned a <code>500</code> status code.</h2>

        <p>
            Something is broken. Please let us know what you were doing when this error occurred.
            We will fix it as soon as possible. Sorry for any inconvenience caused.
        </p>

    </div>
</body>
</html>
