# This file defines routes for the frontend and control panel of your Bolt
# website. Check below for examples, or read the documentation at
# https://docs.bolt.cm/routing

# ------------------------------------------------------------------------------
# Place your own routes here, that have a HIGHER priority than the default routes.



# ------------------------------------------------------------------------------
# These are the routes defining the default behaviour of Bolt's frontend.
# Changing these might give unexpected results or even break your website. If
# possible, only add NEW routes above or below these.
frontend:
  resource: '../src/Controller/Frontend/'
  prefix: /
  type: annotation

# ------------------------------------------------------------------------------
# Place your own routes here, that have a LOWER priority than the default routes.



# ------------------------------------------------------------------------------
# Examples:

# Use this route to display a record, based on the value of a field. For
# example, URLs like `/number/12`, where the intent is to display the record
# from the "entry" ContentType, where the "title" Field is equal to "12".
#
# entrybynumber:
#   path: /number/{value}
#   defaults:
#     _controller: Bolt\Controller\Frontend\DetailController::contentByFieldValue
#     contentTypeSlug: 'entries'
#     field: 'title'

# The following route is already built-in. It's listed here to show an example
# of how you can require a valid ContentType in the URL.
#
# contentlisting:
#   path: /{contenttypeslug}
#   defaults:
#     _controller: Bolt\Controller\Frontend\ListingController::listing
#   requirements:
#     contenttypeslug: '%bolt.requirement.pluralcontenttypes%'

# Use this route to find content only by slug (Like, _very_ basic "SEO" routes)
# before falling back to a 404 response
#
# content_seo:
#   path: /{slugOrId}
#   methods: [GET|POST]
#   defaults:
#     _controller: Bolt\Controller\Frontend\DetailController::record
