{% if not label|default() %}
    {% set label = field.definition.label|default(field.name|ucwords) %}
{% endif %}

{% if not name|default() %}
    {%  set name = 'fields[' ~ field.name ~ ']' %}
{% endif %}

{% if not value|default() %}
    {% if field.value is defined %}
        {% set value = field.value|join|default() %}
    {% else %}
        {% set value = '' %}
    {% endif %}
{% endif %}

{% if not class|default() %}
    {% set class = field.definition.class|default() %}
{% endif %}

<div class="field">
{% block field %}

{% endblock %}
</div>

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}