{% extends '@bolt/editcontent/fields/_base.twig' %}

{% block field %}
    <label>{{ field.definition.label|default(field.name) }}</label>
    <textarea name="{{ name }}" class="{{ class }}">
{{ field }}
    </textarea>
{% endblock %}