{% extends '@bolt/editcontent/fields/_base.twig' %}

{% block field %}
    <label>{{ label }}</label>

    <mark>Note: The Repeater / Block field is basically a wrapper for other fields.</mark>

{% endblock %}
