<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bolt.css') }}">
    {% endblock %}
</head>

<body>

<div class="container" id="app">

    <Topbar></Topbar>

    <el-container>
        <Sidebar></Sidebar>

        <el-main>

                <DashboardNews>pom</DashboardNews>

                {% block body %}{% endblock %}

                <hr>
                <Hello></Hello>
                <hr>



                    <el-row>
                        <el-button>Default</el-button>
                        <el-button type="primary">Primary</el-button>
                        <el-button type="success">Success</el-button>
                        <el-button type="info">Info</el-button>
                        <el-button type="warning">Warning</el-button>
                        <el-button type="danger">Danger</el-button>
                    </el-row>

                    <hr>

        </el-main>

    </el-container>

</div>

{% block javascripts %}
    <script src="{{ asset('assets/bolt.js') }}"></script>
{% endblock %}
</body>

</html>
