memory_limit={{ getv "/memorylimit" }}
timezone={{ getv "/timezone" }}
upload_max_filesize={{ getv "/maxfilesize" }}
post_max_size={{ getv "/maxfilesize" }}
max_execution_time={{ getv "/maxexectime" }}
short_open_tag=0
error_reporting = E_ALL
display_errors = Off
log_errors = On