<!DOCTYPE html>
<html id="{% block html_id %}{% endblock %}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ block('title')|striptags }}</title>
    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/bolt.css') }}">
    {% endblock %}
</head>

<body id="{% block body_id %}{% endblock %}">

        {% block main %}
        {% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('bolt') }}
{% endblock %}
</body>

</html>
