{% extends '@bolt/_base/layout.html.twig' %}

{% block title %}
  <i class='fas mr-2 fa-tachometer-alt'></i><strong>{{ 'caption.dashboard'|trans }}</strong>
{% endblock title %}

{# This 'topsection' gets output _before_ the main form, allowing `dump()`, without breaking Vue #}
{% block topsection %}

    <p>Content here. <a class="show-alert" href='/about'>Alert!</a></p>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
    $(document).on("click", ".show-alert", function (e) {
        let thisHref = $(this).attr('href');

        bootbox.confirm("This is the default confirm!", function(result) {
            console.log(thisHref);
            console.log('This was logged in the callback: ' + result);
        });
        
        return false;
    });
    </script>

{% endblock %}

{% block main %}
  <div id="listing">
    {% include '@bolt/_partials/_content_listing.html.twig' with {'records': records, 'type': 'dashboard' } %}
  </div>
{% endblock %}

{% block aside %}

    {{ widgets('dashboard_aside_top') }}

{% endblock %}

