{% extends '@bolt/_base/layout.html.twig' %}

{% block title %}
  <i class='fas mr-2 fa-tachometer-alt'></i><strong>{{ 'caption.dashboard'|trans }}</strong>
{% endblock title %}

{# This 'topsection' gets output _before_ the main form, allowing `dump()`, without breaking Vue #}
{% block topsection %}

{% endblock %}

{% block main %}
  <div id="listing">
    {% include '@bolt/_partials/_content_listing.html.twig' with {'records': records, 'type': 'dashboard' } %}
  </div>
{% endblock %}

{% block aside %}

    {{ widget('News Widget') }}
    {{ widget('Weather Widget') }}

{% endblock %}

