{% extends '@bolt/_base/layout.twig' %}

{% block title %}
  <i class='fas mr-2 fa-tachometer-alt'></i><strong>{{ 'caption.dashboard'|trans }}</strong>
{% endblock title %}

{% block main %}
  <div id="listing">
    {% include '@bolt/_partials/_content_listing.twig' with {'records': records } %}
  </div>
{% endblock %}

{% block aside %}
    {% include '@bolt/_partials/_widget_weather.twig' %}
{% endblock %}

