{% extends '@bolt/_base/layout.html.twig' %}

{% block title %}
 {{ 'title.edit_user'|trans }} » <strong>{{ display_name|default('Unknown') }}</strong>
{% endblock %}

{% block body_id 'user_edit' %}

{% block vue_id 'editor' %}

{% block main %}

    <div>
        <form method="post" id="editcontent" >

            {% include '@bolt/_partials/fields/text.html.twig' with {
                'label' : 'label.username' | trans,
                'name' : 'username',
                'value' : user.username,
                'disabled' : true,
            } %}

            {% include '@bolt/_partials/fields/text.html.twig' with {
                'label' : 'label.displayname' | trans,
                'name' : 'displayName',
                'value' : user.displayName,
                'disabled' : false,
            } %}

            {% include '@bolt/_partials/fields/password.html.twig' with {
                'label': 'label.password'|trans,
                'label_class': 'required',
                'name': 'password',
                'value': '',
                'class': 'form-control',
            } %}

            {% include '@bolt/_partials/fields/email.html.twig' with {
                'label': 'label.email'|trans,
                'label_class': 'required',
                'value': user.email,
                'name': 'email',
                'class': 'form-control',
            } %}

            {% set localeOptions = [] %}

            {% for locale in locales() %}
                {% set localeOptions = localeOptions|merge([
                    {
                        'key': locale.code,
                        'value': locale.name ~ ' (' ~ locale.localizedname ~ ', ' ~ locale.code ~ ')'
                    }
                ]) %}
            {% endfor %}

            {% include '@bolt/_partials/fields/select.html.twig' with {
                'label' : 'label.locale' | trans,
                'name' : 'locale',
                'value' : user.locale,
                'options' : localeOptions,
            } %}

            {# TODO: include form field with '@bolt/_partials/fields/select.html.twig' #}
            <div class="form-group">
                <label for="user_backendTheme" class="required">Backend theme</label>
                <select id="user_backendTheme" name="user[backendTheme]" class="form-control">
                    <option value="default" selected="selected">The Default theme</option>
                    <option value="dark">The Default Dark theme</option>
                    <option value="light">A pretty Light theme</option>
                    <option value="woordpers">WoordPers: Kinda looks like that other CMS</option>
                </select>
            </div>

            <user-theme></user-theme>

            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
            </button>

        </form>
    </div>
{% endblock %}