<!-- Sidebar -->
<aside>

    <hr>

    {{ widgets('aside_top') }}

    {# This part is only shown if there are no widgets in the 'aside_top' widgets slot. #}
    <div>
{#        {% setcontent blocks = 'blocks/about' %}#}
{#        {% setcontent blocks = 'blocks' %}#}
{#        {% setcontent blocks = 'blocks/random/3' %}#}
{#        {% setcontent blocks = 'blocks/first/3' %}#}
{#        {% setcontent blocks = 'blocks/latest/3' %}#}
{#        {% setcontent blocks = 'blocks' where {'title': 'Error dolore corporis aspernatur.'} %}#}
{#        {% setcontent blocks = 'blocks' where {'title': '%dolore'} %}#}
{#        {% setcontent blocks = 'blocks' where {'title': '%quo'} %}#}
{#        {% setcontent blocks = 'blocks' where {'title': '%quo || %dolore'} %}#}
{#        {% setcontent blocks = 'blocks' where {'title ||| slug': '%quo ||| %dolore'} %}#}
        {% setcontent showcases = 'showcases' where {'date': '<now'} %}
{#        {% setcontent blocks = 'blocks' orderby '-title,slug' %}#}

        {{ dump(blocks) }}
    </div>
</aside>
<!-- End Sidebar -->
