{% if image %}
    <div class="imageholder">
        <a href="{{ record|image }}">
            <img src="{{ thumbnail(record, 1368, 1026) }}" alt="{{ (record|image).alt|default(record|title) }}">
        </a>
        {% if image.alt %}
            <small>{{ image.alt }}</small>
        {% endif %}
    </div>
{% endif %}
