{% if image %}
    <div class="imageholder">
        <a href="{{ record|image }}">
            <img src="{{ thumbnail(image, 1368, 1026) }}" alt="{{ image.alt|default(record|title) }}">
        </a>
        {% if image.alt %}
            <small>{{ image.alt }}</small>
        {% endif %}
    </div>
{% endif %}
