{% if records.haveToPaginate|default() %}

    {# The Pagerfanta function allows you to configure what is paginated,
       the theme (template) to use for it, as well as a number of other options.
       See: https://github.com/whiteoctober/WhiteOctoberPagerfantaBundle #}

    <div class="{{ class }}">
        {{ pagerfanta(records, theme, {
            'proximity': surround
        }) }}
    </div>
{% endif %}
