{% if records.haveToPaginate|default() %}
    <div class="pagination">
        {{ pagerfanta(records) }}
    </div>
{% else %}
    <strong class='bolt_template_warning'>Warning: Not possible to paginate given object.</strong>
{% endif %}
