{% if records.haveToPaginate|default() %}

    {% set theme = theme %}
    {% set options = {
        'proximity': surround
    } %}

    <div class="{{ class }}">
        {{ pagerfanta(records, theme, options) }}
    </div>
{% endif %}
