//** Lisitng | Filter

.listing__filter{
  display: flex;
  justify-content: space-between;
  &:first-of-type{
    margin-bottom: $spacer * 1.5;
  }
  &:last-of-type{
    margin-top: $spacer * 1.5;
  }
  &--controls{
    flex: 1 1 100%;
    text-align: right;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    li{
      display: inline-flex;
      margin-right: $spacer / 3;
      &:last-child{
        margin-right: 0;
      }
    }
    .control--button{
      color: var(--shade-500);
      border: 0;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--shade);
      border-radius: $border-radius;
      box-shadow: $card-box-shadow;
      padding: 0;
      &:hover{
        cursor: pointer
      }
      &:focus{
        svg, g{
          fill: theme-color('secondary')
        }
      }
      &.is-selected{
        svg g{
          fill: var(--primary);
        }
      }
      &.is-active{
        background: var(--primary);
        color: var(--shade);
      }
      svg{
        width: 20px;
        height: 20px;
        g{
          fill: var(--shade-500);
        }
      }
    }
  }
}