name: API tests

on:
    pull_request:

jobs:
    apicurltests:
        strategy:
            matrix:
                php-version: [ '8.1', '8.2', '8.3', '8.4' ]
        name: curl tests
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: shivammathur/setup-php@v2
              with:
                  # test the lowest version, to make sure checks pass on it
                  php-version: ${{ matrix.php-version }}
                  extensions: json, mbstring, pdo, curl, pdo_sqlite
                  coverage: none
                  tools: symfony-cli
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Install composer dependencies
              run: composer install --prefer-dist --no-progress
            - name: Initialise the database
              run: |
                  sudo chmod -R 777 config/ public/files/ public/theme/ public/thumbs/ var/
                  ./bin/console doctrine:database:create
                  ./bin/console doctrine:schema:create
                  symfony server:start --no-tls --port=8088 -d
            - name: create api user
              run: php bin/console bolt:add-user apiuser apiuser%1 api@example.org API --roles=ROLE_WEBSERVICE
            - name: check API user gets content
              run: curl -fkI -u apiuser:apiuser%1 http://localhost:8088/api/contents
            - name: check API user gets fields
              run: curl -fkI -u apiuser:apiuser%1 http://localhost:8088/api/fields
            - name: check API user gets relations
              run: curl -fkI -u apiuser:apiuser%1 http://localhost:8088/api/relations
            - uses: actions/upload-artifact@v4
              if: failure()
              with:
                 name: logs
                 path: var/log

