name: Assets Code Analysis

on:
  pull_request: null
  push:
    branches:
      - main

jobs:
  asses_code_analysis:
    strategy:
      fail-fast: false
      matrix:
        actions:
          - name: Lint Javascript files
            run: npm run lint

          - name: Lint on SCSS files
            run: npm run stylelint

    name: ${{ matrix.actions.name }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      # see https://github.com/actions/starter-workflows/blob/main/ci/node.js.yml
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Cache NPM dependencies
        uses: actions/cache@v4
        with:
          path: /tmp/npm-cache
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}

      # same as "npm install", just uses package-lock.json", see https://stackoverflow.com/a/53325242/1348344
      - run: npm ci --prefer-offline --no-audit --cache /tmp/npm-cache

      - run: ${{ matrix.actions.run }}
