name: Assets Code Analysis

on:
    pull_request: null
    push:
        branches:
            - master

jobs:
    asses_code_analysis:
        strategy:
            fail-fast: false
            matrix:
                actions:
                    -
                        name: Lint Javascript files
                        run: npm run lint

                    -
                        name: Lint on SCSS files
                        run: npm run stylelint

        name: ${{ matrix.actions.name }}
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2

            # see https://github.com/actions/starter-workflows/blob/main/ci/node.js.yml
            -
                name: Use Node.js 12.5
                uses: actions/setup-node@v1
                with:
                    node-version: 12.5
                    php-version: 7.2

            # same as "npm install", just uses package-lock.json", see https://stackoverflow.com/a/53325242/1348344
            -   run: npm ci

            -   run: ${{ matrix.actions.run }}
