name: Code Analysis

on:
    pull_request: null
    push:
        branches:
            - master

jobs:
    code_analysis:
        strategy:
            fail-fast: false
            matrix:
                actions:
                    -
                        name: Coding Standard
                        # tip: add "--ansi" to commands in CI to make them full of colors
                        run: vendor/bin/ecs check src --ansi

                    -
                        name: PHPStan
                        run: vendor/bin/phpstan analyse --ansi

                    -
                        name: Check composer.json and composer.lock
                        run: composer validate --strict --ansi

                    -
                        name: Check YAML configs files
                        run: bin/console lint:yaml config --ansi --parse-tags

                    -
                        name: Check TWIG files
                        run: bin/console lint:twig templates --ansi

                    -
                        name: Check XLIFF translation files
                        run: bin/console lint:xliff translations --ansi

                    -
                        name: Check dependencies for security vulnerabilities
                        run: bin/console security:check --ansi

                    -
                        name: Check Doctrine Mapping
                        run: bin/console doctrine:schema:validate --skip-sync -vvv --no-interaction --ansi

        name: ${{ matrix.actions.name }}
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2
            # see https://github.com/shivammathur/setup-php
            -   uses: shivammathur/setup-php@v1
                with:
                    # test the lowest version, to make sure checks pass on it
                    php-version: 7.2
                    coverage: none

            -   run: composer install --no-progress --ansi

            -   run: ${{ matrix.actions.run }}
