name: Create Release
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: The new version to release
        required: true
  pull_request: ~

env:
  NODE_VERSION: 20
  NEW_VERSION: ${{ inputs.version || '6.0.0-beta.4' }}

jobs:
  create_core_release:
    name: Generate bolt/core release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      branch: ${{ steps.branch.outputs.branch }}
      prerelease: ${{ steps.prerelease.outputs.prerelease }}
    steps:
      - name: Determine branch
        id: branch
        run: |
          echo "branch=$(echo "${{ env.NEW_VERSION }}" | sed -re 's/([0-9]+\.([0-9]+)).*/\1/')" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v6
        with:
          ref: ${{ steps.branch.outputs.branch }}

      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          coverage: none
          tools: none

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Cache NPM dependencies
        uses: actions/cache@v4
        with:
          path: /tmp/npm-cache
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}

      - name: Install NPM dependencies
        run: npm ci --prefer-offline --no-audit --cache /tmp/npm-cache

      - name: Update PHP version
        run: sed -i -e "/public const VERSION = / s/'.*/'${{ env.NEW_VERSION }}';/" src/Version.php

      - name: Update JS version
        run: |
          sed -i -e "s/\"version\": \".*\",/\"version\": \"${{ env.NEW_VERSION }}\",/" package.json

      - name: Run genversion
        run: npm run genversion

      - name: Determine if stable
        id: prerelease
        run: |
          echo "prerelease=$(php -r "include 'src/Version.php'; echo Bolt\Version::isStable() ? 'false' : 'true';")" >> $GITHUB_OUTPUT

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Release ${{ env.NEW_VERSION }}"
          tag_name: ${{ env.NEW_VERSION }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.NEW_VERSION }}
          prerelease: ${{ steps.prerelease.outputs.prerelease }}
          generate_release_notes: true

  build_assets:
    name: Build bolt/core assets
    needs:
      - create_core_release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ env.NEW_VERSION }}

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Cache NPM dependencies
        uses: actions/cache@v4
        with:
          path: /tmp/npm-cache
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}

      - name: Install NPM dependencies
        run: npm ci --prefer-offline --no-audit --cache /tmp/npm-cache

      - name: Build assets
        run: |
          npm run build
          mkdir package
          cd package
          cp -r ../public/assets .
          cp ../package.json ./package.json

      - uses: actions/upload-artifact@v4
        with:
          name: assets-${{ env.NEW_VERSION }}
          path: package

  create_assets_release:
    name: Create bolt/assets release
    runs-on: ubuntu-latest
    needs:
      - create_core_release
      - build_assets
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          repository: bolt/assets
          ref: ${{ needs.create_core_release.outputs.branch }}

      - name: Remove old files
        run: |
          rm -rf assets package.json

      - name: Download artifact
        uses: actions/download-artifact@v5
        with:
          name: assets-${{ env.NEW_VERSION }}

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Release ${{ env.NEW_VERSION }}"
          tag_name: ${{ env.NEW_VERSION }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.NEW_VERSION }}
          name: Assets for Bolt ${{ env.NEW_VERSION }}
          prerelease: ${{ needs.create_core_release.outputs.prerelease }}
          generate_release_notes: true
