name: Cypress Tests

on:
    workflow_dispatch:
    # Disabled, as they are currently broken. See #3531
    # pull_request:

jobs:
    cypress-tests:
        name: Cypress Tests
        runs-on: ubuntu-latest
        strategy:
            # when one test fails, DO NOT cancel the other
            # containers, because this will kill Cypress processes
            # leaving the Dashboard hanging ...
            # https://github.com/cypress-io/github-action/issues/48
            fail-fast: false
            matrix:
                containers: [1, 2, 3] # number of parallel containers
        steps:
            -   uses: actions/checkout@v4
            -   uses: shivammathur/setup-php@v2
                with:
                    # test the lowest version, to make sure checks pass on it
                    php-version: 8.2
                    extensions: json, mbstring, pdo, curl, pdo_sqlite
                    coverage: none
                    tools: symfony-cli
            -   uses: actions/setup-node@v4
                with:
                    node-version: 20
            # See https://github.community/t/sudo-apt-install-fails-with-failed-to-fetch-http-security-ubuntu-com-404-not-found-ip/17075
            -   run: sudo apt update
            -   name: Install composer dependencies
                run: composer install --prefer-dist --no-progress
            -   name: Show Bolt info
                run: ./bin/console bolt:info --ansi
            -   name: Install NPM dependencies
                run: npm ci
            -   name: Install other dependencies
                run: |
                    mkdir -p ./var/log/e2e-reports/report/features/
                    touch ./var/log/e2e-reports/report/features/.gitkeep
                    # Install latest stable Chrome for e2e tests
                    sudo apt --fix-broken install
                    sudo apt-get install libxss1 libindicator7
                    wget -q https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
                    sudo apt install ./google-chrome*.deb
            -   name: Prepare environment
                run: |
                    # build assets
                    npm run build
                    sudo chmod -R 777 config/ public/files/ public/theme/ public/thumbs/ var/
                    
                    #Configure PHP to disable Session garbage collector and fix the timezone to UTC like Bolt use to compare date.
                    echo "date.timezone=UTC" >> php.ini
                    echo "session.gc_probability=0" >> php.ini
                    echo "session.gc_divisor=100000" >> php.ini
                    echo "session.gc_maxlifetime=1440000" >> php.ini

                    # prepare web server for e2e tests
                    ./bin/console doctrine:schema:create -q
                    ./bin/console doctrine:migrations:sync-metadata-storage -q
                    ./bin/console doctrine:migrations:version --add --all -n -q
                    ./bin/console doctrine:fixtures:load --group=without-images -n
                    symfony server:start --no-tls --port=8088 -d
                    # test if web server works
                    sleep 3
                    curl --silent --show-error --fail "http://127.0.0.1:8088/bolt/login"

            -   name: Cypress run
                uses: cypress-io/github-action@v6
                with:
                    command: "npm run cypress:ci"
                    wait-on: 'http://127.0.0.1:8088'
                    record: true
                    parallel: true
                env:
                    CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
                    GITHUB_TOKEN: ${{ secrets.CYPRESS_GITHUB_TOKEN }}
            -   uses: actions/upload-artifact@v4
                if: failure()
                with:
                    name: cypress-evidence-${{matrix.containers}}
                    path: |
                        tests/cypress/evidence
                        var/log
