{% extends 'bolt/base.html.twig' %}

{% block container "vuecontent" %}

{% block title "<b>Dashboard</b>" %}

{% block aside %}
        <DashboardNews></DashboardNews>
{% endblock %}



{% block body %}

<button class="ui primary button">
  Save
</button>
<button class="ui button">
  Discard
</button>




{% set contentTypes = [
    {
        slug: 'pages'
    },
    {
        slug: 'homepage'
    }
] %}
{% for contentType in contentTypes if true or contentType.showOnDashboard %}
    <DashboardContentList type="{{ contentType.slug }}" limit="5"></DashboardContentList>
{% endfor %}

{% endblock %}

